ud06/02/02.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT listatickets (ticket+)>
<!ELEMENT ticket (numero,fecha,hora,producto+,total)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT producto (nombre,precio)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT total (#PCDATA)>



